@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --black: #1E1E1E;
  --background: #F7F7F3;
  --foreground: #E6E9E4;
  --gray: #464646;
  --light: #ffffff;
  --hover: #76F0B9;
  --active: #f350b7;
  --blue: #58c2ff;
  --footer: #e8f7ff; 
}

body {
  background-color: var(--background);
  color: var(--black);
  font-family: var(--font-dm-sans), sans-serif;
}
