.viewAllButton {
  display: block;
  margin: 0px auto;
  margin-bottom: 30px !important;
  padding: 4px 10px;
  background-color: transparent;
  border: 1px solid var(--black);
  font-size: 0.9rem;
  color: var(--black);
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  width: fit-content;
}

.viewAllButton:hover {
  background-color: var(--foreground);
}
