.viewAllButton {
  display: block;
  margin: 0px auto;
  margin-bottom: 30px !important;
  padding: 4px 10px;
  background-color: transparent;
  border: 1px solid var(--black);
  font-size: 0.9rem;
  color: var(--black);
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  width: fit-content;
}

.viewAllButton:hover {
  background-color: var(--foreground);
}

.errorContainer {
  text-align: center;
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: var(--background);
  border: 1px solid var(--foreground);
}

.errorContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--black);
}

.errorContainer p {
  font-size: 1rem;
  color: var(--gray);
}
